[Unit]
Description=Cellular Service
After=network.target
RequiresMountsFor=/etc /usr

[Service]
Type=simple
EnvironmentFile=/etc/systemd/cellular.conf
RuntimeDirectory=cellular
RuntimeDirectoryMode=0700
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/cellular-start.sh
ExecStopPost=/usr/local/bin/cellular-stop.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
TimeoutStartSec=0
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
